USE [master]
GO
/****** Object:  Database [Korgozha_DemoProb]    Script Date: 25.09.2025 12:03:35 ******/
CREATE DATABASE [Korgozha_DemoProb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Korgozha_DemoProb', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\Korgozha_DemoProb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Korgozha_DemoProb_log', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\Korgozha_DemoProb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Korgozha_DemoProb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Korgozha_DemoProb]
GO
/****** Object:  Table [dbo].[MaterialTypes]    Script Date: 25.09.2025 12:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[material_type] [nvarchar](50) NOT NULL,
	[waste_percentage] [decimal](3, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 25.09.2025 12:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partner_type] [nvarchar](10) NOT NULL,
	[partner_name] [nvarchar](255) NOT NULL,
	[director_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[legal_address] [nvarchar](max) NOT NULL,
	[inn] [nvarchar](12) NOT NULL,
	[rating] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerServices]    Script Date: 25.09.2025 12:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerServices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[partner_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[execution_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceMaterials]    Script Date: 25.09.2025 12:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceMaterials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[quantity_per_unit] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 25.09.2025 12:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_type_id] [int] NOT NULL,
	[service_name] [nvarchar](255) NOT NULL,
	[service_code] [nvarchar](20) NOT NULL,
	[min_price_for_partner] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 25.09.2025 12:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_type] [nvarchar](50) NOT NULL,
	[complexity_coefficient] [decimal](3, 1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaterialTypes] ON 

INSERT [dbo].[MaterialTypes] ([id], [material_type], [waste_percentage]) VALUES (1, N'Порошок', CAST(0.05 AS Decimal(3, 2)))
INSERT [dbo].[MaterialTypes] ([id], [material_type], [waste_percentage]) VALUES (2, N'Растворитель', CAST(0.08 AS Decimal(3, 2)))
INSERT [dbo].[MaterialTypes] ([id], [material_type], [waste_percentage]) VALUES (3, N'Отбеливатель', CAST(0.10 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[MaterialTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([id], [partner_type], [partner_name], [director_name], [email], [phone], [legal_address], [inn], [rating]) VALUES (1, N'ИП', N'Чистый Мир', N'Смирнова Ольга Викторовна', N'olga.smirnova@cm.ru', N'495 111 22 33', N'123456, г. Москва, ул. Чистая, д. 10', N'1234567890', 9)
INSERT [dbo].[Partners] ([id], [partner_type], [partner_name], [director_name], [email], [phone], [legal_address], [inn], [rating]) VALUES (2, N'ООО', N'Блеск и Глянец', N'Комаров Денис Игоревич', N'denis.komarov@bg.ru', N'812 444 55 66', N'190000, г. Санкт-Петербург, Невский пр-т, д. 50', N'2345678901', 8)
INSERT [dbo].[Partners] ([id], [partner_type], [partner_name], [director_name], [email], [phone], [legal_address], [inn], [rating]) VALUES (3, N'ИП', N'Свежесть Плюс', N'Николаева Анна Сергеевна', N'anna.nikolaeva@sp.ru', N'383 777 88 99', N'630000, г. Новосибирск, ул. Лазурная, д. 25', N'3456789012', 7)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerServices] ON 

INSERT [dbo].[PartnerServices] ([id], [service_id], [partner_id], [quantity], [execution_date]) VALUES (3, 2, 1, 120, CAST(N'2024-07-06T00:00:00.000' AS DateTime))
INSERT [dbo].[PartnerServices] ([id], [service_id], [partner_id], [quantity], [execution_date]) VALUES (4, 4, 2, 350, CAST(N'2022-02-12T00:00:00.000' AS DateTime))
INSERT [dbo].[PartnerServices] ([id], [service_id], [partner_id], [quantity], [execution_date]) VALUES (6, 1, 2, 200, CAST(N'2024-07-06T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PartnerServices] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceMaterials] ON 

INSERT [dbo].[ServiceMaterials] ([id], [service_id], [material_id], [quantity_per_unit]) VALUES (1, 1, 4, CAST(1.00 AS Decimal(8, 2)))
INSERT [dbo].[ServiceMaterials] ([id], [service_id], [material_id], [quantity_per_unit]) VALUES (2, 1, 1, CAST(1.00 AS Decimal(8, 2)))
INSERT [dbo].[ServiceMaterials] ([id], [service_id], [material_id], [quantity_per_unit]) VALUES (3, 2, 4, CAST(1.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[ServiceMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([id], [service_type_id], [service_name], [service_code], [min_price_for_partner]) VALUES (1, 1, N'Стирка постельного белья (до 10 кг)', N'SRV-001', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([id], [service_type_id], [service_name], [service_code], [min_price_for_partner]) VALUES (2, 1, N'Стирка верхней одежды (куртки, пальто)', N'SRV-002', CAST(800.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([id], [service_type_id], [service_name], [service_code], [min_price_for_partner]) VALUES (3, 2, N'Химчистка костюма', N'SRV-003', CAST(1200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([id], [service_type], [complexity_coefficient]) VALUES (1, N'Стирка', CAST(1.0 AS Decimal(3, 1)))
INSERT [dbo].[ServiceTypes] ([id], [service_type], [complexity_coefficient]) VALUES (2, N'Химчистка', CAST(2.5 AS Decimal(3, 1)))
INSERT [dbo].[ServiceTypes] ([id], [service_type], [complexity_coefficient]) VALUES (3, N'Ремонт', CAST(3.0 AS Decimal(3, 1)))
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__6F7DEACF8B4D1398]    Script Date: 25.09.2025 12:03:36 ******/
ALTER TABLE [dbo].[MaterialTypes] ADD UNIQUE NONCLUSTERED 
(
	[material_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Partners__288E7A06BC6D01FE]    Script Date: 25.09.2025 12:03:36 ******/
ALTER TABLE [dbo].[Partners] ADD UNIQUE NONCLUSTERED 
(
	[partner_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Partners__DC50F6D366F5AE83]    Script Date: 25.09.2025 12:03:36 ******/
ALTER TABLE [dbo].[Partners] ADD UNIQUE NONCLUSTERED 
(
	[inn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Services__5C67610B23444D68]    Script Date: 25.09.2025 12:03:36 ******/
ALTER TABLE [dbo].[Services] ADD UNIQUE NONCLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ServiceT__0A11488FC2047D83]    Script Date: 25.09.2025 12:03:36 ******/
ALTER TABLE [dbo].[ServiceTypes] ADD UNIQUE NONCLUSTERED 
(
	[service_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceMaterials] ADD  DEFAULT ((1.0)) FOR [quantity_per_unit]
GO
ALTER TABLE [dbo].[PartnerServices]  WITH CHECK ADD  CONSTRAINT [FK_PartnerServices_Partners] FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partners] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PartnerServices] CHECK CONSTRAINT [FK_PartnerServices_Partners]
GO
ALTER TABLE [dbo].[PartnerServices]  WITH CHECK ADD  CONSTRAINT [FK_PartnerServices_Services] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PartnerServices] CHECK CONSTRAINT [FK_PartnerServices_Services]
GO
ALTER TABLE [dbo].[ServiceMaterials]  WITH CHECK ADD  CONSTRAINT [FK_ServiceMaterials_MaterialTypes] FOREIGN KEY([material_id])
REFERENCES [dbo].[MaterialTypes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceMaterials] CHECK CONSTRAINT [FK_ServiceMaterials_MaterialTypes]
GO
ALTER TABLE [dbo].[ServiceMaterials]  WITH CHECK ADD  CONSTRAINT [FK_ServiceMaterials_Services] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceMaterials] CHECK CONSTRAINT [FK_ServiceMaterials_Services]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceTypes] FOREIGN KEY([service_type_id])
REFERENCES [dbo].[ServiceTypes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_ServiceTypes]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(10)))
GO
USE [master]
GO
